/* Style global pour le carrousel */
.carouselBloc {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.swiperBloc {
  width: 100%;
}

.exercicesItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idExercice {
  width: 100%;
  height: 200px; /* Hauteur fixe pour les images */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ExercisePic {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cette propriété garantit que l'image est redimensionnée sans être déformée */
  border-radius: 10px; /* Optionnel: ajoute des bords arrondis aux images */
}

.exercice-link {
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #007bff;
}

.exercice-link span {
  font-size: 16px;
}
